.ttile {
    text-align:center;
}

/* nav>ul{
    display: flex;
    justify-content:space-evenly;
} */

.dash-container{
    /* border: 2px solid red; */
    margin: 20px auto;
}
.chart-container{
    width: 60%;
    margin: 20px auto;
}
table{
    border: 1px solid black;
    width:60%;
    margin: 15px auto;
    table-layout: fixed;
}
td, th{
    border: 1px solid black;
    padding: 5px;
    text-align:right;
}